/* 黑白主色 */
.gtc-dark {
  --bgC: #111 !important;
  --priC: #333;
  --secC: #444;
  --priB: #333D;
  --secB: #444A;
  --fullR: #DDD;
  --halfR: #AAA;
  --green: #0C3;
  --blue: #08F;
  --orange: #F90;
  --red: #D00;
  --brown: #720;
  --hover: 1.3;
}
.gtc-light {
  --bgC: #FAFAFA !important;
  --priC: #EEE;
  --secC: #DDD;
  --priB: #EEED;
  --secB: #DDDA;
  --fullR: #333;
  --halfR: #666;
  --green: #3B0;
  --blue: #27F;
  --orange: #F83;
  --red: #F22;
  --brown: #910;
  --hover: .9;
}
.gtc-light *,
.gtc-dark * {
  --bgC: var(--fullR);
  color: var(--bgC);
}
.gtc-light,
.gtc-dark {
  --theme: var(--fullR);
}
.gtc-dark *::selection {
  background-color: #38F;
  color: #EEE;
}
/* 彩色主色 */
.gtc-primary,
.gtc-blue,
.gtc-danger,
.gtc-red,
.gtc-ok,
.gtc-green,
.gtc-brown {
  --fgC: #EEE !important;
}
/* TODO: 为每一个颜色设计主要与次要颜色 */
.gtc-blue,
.gtc-primary {
  --bgC: var(--blue) !important;
}
.gtc-red,
.gtc-danger {
  --bgC: var(--red) !important;
}
.gtc-green,
.gtc-ok {
  --bgC: var(--green) !important;
  --fgC: #222 !important;
}
.gtc-brown {
  --bgC: var(--brown) !important;
}
.gtc-orange,
.gtc-warning {
  --fgC: #222 !important;
  --bgC: var(--orange) !important;
}

.gt-icon {
  background-color: var(--cc);
}
.gt-icon-group > .gt-icon {
  position: absolute;
}
.gt-icon,
.gt-icon-group {
  transition: filter .3s;
}

.gt-theme {
  --theme: var(--bgC);
}

.gt-rev {
  background-color: var(--ccc);
}
.gt-rev .gt-icon {
  background-color: var(--priC);
}

/* pop组件的动画部分 */
.gt-pop-accmlt {
  transition: transform .5s ease-in;
  transform: scale(.8);
}
.gt-fix1 {
  transition-property: top, left, transform, filter;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  transform: scale(.8);
  position: fixed;
  z-index: 110;
}
.gt-fix2 {
  transition-property: top, left, width, height, transform, filter;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  filter: opacity(0);
  transform-origin: 0 0;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}
.gt-fix2-inside {
  transition-property: margin-left, margin-top;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.gt-relative-position {
  position: relative;
}
.gt-relative-position > div {
  position: absolute !important;
}

/* Tool::Tool */
.gt-tool {
  width: 30px;
  height: 30px;
  padding: 3px;
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;
}
.gt-toolbar-title > .gt-tool {
  cursor: auto;
}

.gt-tool:focus,
.gt-tool-group:focus,
.gt-tool-grouppop .gt-tool:focus {
  outline-color: var(--halfR);
  outline-style: dashed;
}

/* Tool::Group */
.gt-tool-group {
  width: 40px;
  height: 40px;
}
.gt-tool-group:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: 31px;
  top: 31px;
  width: 5px;
  height: 5px;
  -webkit-mask-image: url('data:image/svg+xml;utf8,%3C?xml%20version=%221.0%22%20encoding=%22UTF-8%22%20standalone=%22no%22?%3E%3Csvg%20style=%22stroke-linecap:round%22%20xmlns=%22http://www.w3.org/2000/svg%22%20version=%221.1%22%20viewBox=%220%200%205%205%22%3E%3Cpath%20stroke=%22black%22%20stroke-width=%221.5%22%20d=%22M4.0155+1.00558C4.0155+2.64586+2.68579+3.97558+1.0455+3.97558L1.0155+3.97558%22%20fill=%22none%22%20stroke-linecap=%22round%22%20opacity=%221%22%20stroke-linejoin=%22round%22/%3E%3C/svg%3E');
  background-color: var(--halfR);
  transition: transform .2s ease-out;
}
.gt-tool-group:focus:after {
  transform: scale(2);
}

.gt-tool-grouppop {
  box-sizing: border-box;
  padding: 2px;
  border-radius: 10px;
  background: var(--secC);
}
.gt-tool-grouppop .gt-tool {
  transition: background-color .3s;
  margin-bottom: 4px;
}
.gt-tool-grouppop .gt-tool:hover {
  background-color: var(--priC);
  outline: none;
}

/* ToolBar::View */
.gt-toolbar-view {
  height: 40px;
  position: absolute;
  overflow: visible;
  transition-property: filter, margin-left, width, background-color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 0;
}
.gt-toolbar-view > * {
  display: inline-block;
}

/* ToolBar::Bar */
.gt-toolbar {
  border-radius: 10px;
  height: 40px;
  background-color: var(--priB);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: visible;
  transition: width .2s;
}
.gt-toolbar-title {
  position: absolute;
  width: 40px;
  height: 40px;
  display: none;
  z-index: 1;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(to right, var(--priC) 95%, #0005);
}
.gt-toolbar-hover {
  position: absolute;
  border-radius: 10px;
  background-color: var(--fullR);
  filter: opacity(0);
  height: 36px;
  width: 36px;
  margin-top: 2px;
  transition-property: filter, margin-left, width;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* 基本控件们 */
.gt-text {
  --bgC: var(--fullR);
  color: var(--bgC);
}
.gt-text.gt-sm {
  font-size: 12px;
}
.gt-text.gt-lg {
  font-size: 20px;
}
/* 控件基本 */
.gt-btn,
.gt-input {
  border-radius: 8px;
  height: 25px;
  line-height: 21px;
  padding: 0px 6px;
  transition: filter .3s ease-out, border-color .3s ease-out;
}
.gt-btn:hover,
.gt-input:hover {
  filter: brightness(var(--hover));
}
.gt-btn:focus,
.gt-input:focus {
  outline: none;
}
.gt-btn.gt-sm,
.gt-input.gt-sm {
  border-radius: 10px;
  height: 20px;
  line-height: 16px;
  font-size: 12px;
}
.gt-btn.gt-lg,
.gt-input.gt-lg {
  height: 30px;
  line-height: 24px;
  padding: 1px 12px;
  font-size: 20px;
}
/* 按钮控件 */
.gt-btn,
.gt-input[type="button"] {
  --bgC: var(--secB);
  --fgC: var(--fullR);
  background-color: var(--bgC);
  border: 2px transparent solid;
  color: var(--fgC);
  cursor: pointer;
  transition: all .2s ease-out;
}
.gt-btn:focus,
.gt-input[type="button"]:focus,
.gt-input[type="checkbox"]:focus {
  border-color: var(--fullR) !important;
  transform: scale(.95);
}
.gt-btn:disabled,
.gt-input:disabled {
  filter: opacity(.5);
  --fgC: gray;
  cursor: not-allowed;
}
/* 单行输入框控件 */
.gt-input[type="text"] {
  --bgC: var(--fullR);
  color: var(--fullR);
  border: 1px var(--secB) solid;
  background-color: var(--secB);
}
.gt-input[type="text"]:focus {
  border-color: var(--bgC);
}
/* 多选框控件 */
.gt-input[type="checkbox"],
.gt-input[type="ratio"] {
  appearance: none;
  border: 1px var(--secB) solid;
  background-color: var(--secB);
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 0;
}
.gt-iput[type="checkbox"] {
  border-radius: 5px;
}
.gt-iput[type="ratio"] {
  border-radius: 8px;
}
.gt-input[type="checkbox"]:checked {
  background-color: var(--blue);
  border-color: transparent;
}
.gt-input[type="checkbox"]::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  margin: -1px;
}
.gt-input[type="checkbox"]:checked::before {
  -webkit-mask-image: url('data:image/svg+xml;utf8,%3C?xml%20version=%221.0%22%20encoding=%22UTF-8%22%20standalone=%22no%22?%3E%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xml:space=%22preserve%22%20version=%221.1%22%20viewBox=%220%200%2016%2016%22%3E%3Cpath%20stroke=%22black%22%20stroke-width=%222%22%20d=%22M3.20829+8.79045L6.69632+12.1959L13.006+4.95793%22%20fill=%22none%22%20stroke-linecap=%22round%22%20opacity=%221%22%20stroke-linejoin=%22round%22/%3E%3C/svg%3E');
  background-color: var(--fullR);
}
.gt-form-block {

}
.gt-form-title {

}
.gt-form-msg {

}

.gt-form-warning > .gt-form-msg {
  color: var(--orange);
}
.gt-form-danger > .gt-form-msg {
  color: var(--red);
}
.gt-form-warning > .gt-input {
  border-color: var(--orange);
}
.gt-form-danger > .gt-input {
  border-color: var(--red);
}
