.gt-dark {
  --bgC: #101010;
  --priC: #262626;
  --secC: #404040;
  --priB: #262626A0;
  --secB: #404040A0;
  --fullR: #EEEEEE;
  --halfR: #858585;
  --green: #480;
  --blue: #06B;
  --orange: #C70;
  --red: #B00;
  --brown: #720;
}

.main {
  width: 100%;
  height: 700px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bgC);
  color: var(--fullR);
  border-radius: 5px;
}
.con {
  position: fixed;
  width: 200px;
  height: 200px;
  background: #FFFFFFCC;
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
  font-family: Menlo, consolas;
  z-index: 100;
  box-sizing: border-box;
  bottom: 0;
}

.gt-toolbar {
  background-color: var(--priB);
  height: 40px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  display: inline-block;
  margin: 0 5px;
  transition: width .3s;
}

.gt-tool, .gt-tool-group {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: inline-block;
  transition: background-color .3s, opacity .3s;
  overflow: hidden;
}
.gt-tool-mask {
  width: 40px;
  height: 40px;
  margin-top: -40px;
  margin-bottom: -45px;
  filter: drop-shadow(0 40px var(--ia));
}
.gt-tool-limit {
  width: 30px;
  height: 30px;
  margin: 5px;
  overflow: hidden;
}
.gt-tool-rev {
  background-color: var(--ia) !important;
}
.gt-tool-rev > .gt-tool-mask {
  filter: drop-shadow(0 40px var(--priC));
}
.gt-tool.gt-tool-hover {
  background-color: rgba(128,128,128,.2);
}

.gt-tool-group {
  overflow: visible;
  box-shadow: none;
  z-index: 0;
}
.gt-tool-group:after {
  content: "";
  display: block;
  border: 3px solid;
  border-color: transparent var(--fullR) var(--fullR) transparent;
  margin: 30px;
}
.gt-tool-group-container {
  width: 40px;
  height: auto;
  max-height: 40px;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s;
  position: absolute;
}
.gt-tool-group-container > .gt-tool {
  display: block;
  margin-bottom: 5px;
}

@keyframes gt-acmlt {
  100% {
    transform: scale(.8);
  }
}
.gt-tool-group-container.gt-tool-hover {
  animation: gt-acmlt .8s ease-in;
}
@keyframes gt-pop {
  0% {
    transform: scale(.8);
    min-height: 40px;
    padding: 0;
    background-color: transparent;
    margin: 0;
  }
  50% {
    transform: scale(1.05);
    min-height: calc(var(--count) * 45px);
    padding: 5px;
    background-color: var(--secB);
    margin: -5px;
  }
  100% {
    transform: scale(1);
  }
}
.gt-tool-pop {
  transition: none;
  animation: gt-pop .5s ease-out;
  min-height: calc(var(--count) * 45px - 5px);
  padding: 5px;
  margin: -5px;
  background-color: var(--secB);
  -webkit-backdrop-filter: blur(5px);
  z-index: 100;
}
.gt-toolbar-view {
  position: absolute;
  height: 40px;
}
.gt-toolbar-view
.gt-tool-title {
  padding: 5px;
  margin: -5px 0 -5px -5px;
}