.main {
  width: 100%;
  height: 700px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bgC);
  color: var(--fullR);
  border-radius: 5px;
}
.con {
  position: fixed;
  width: 200px;
  height: 200px;
  background: #FFFFFFCC;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
  font-family: Menlo, consolas;
  z-index: 100;
  box-sizing: border-box;
  bottom: 0;
}