.gt-dark {
  --bgC: #111;
  --priC: #333;
  --secC: #444;
  --priB: #333A;
  --secB: #444A;
  --fullR: #DDD;
  --halfR: #AAA;
  --green: #0C3;
  --blue: #08F;
  --orange: #F90;
  --red: #D00;
  --brown: #720;
}
.gt-light {
  --bgC: #FAFAFA;
  --priC: #EEE;
  --secC: #DDD;
  --priB: #EEEA;
  --secB: #DDDA;
  --fullR: #333;
  --halfR: #666;
  --green: #2A0;
  --blue: #06F;
  --orange: #E60;
  --red: #F22;
  --brown: #910;
}

.gt-icon {
  background-color: var(--cc);
}
.gt-icon-group > .gt-icon {
  position: absolute;
}
.gt-icon, .gt-icon-group {
  transition: filter .3s;
}

.gt-pop-accmlt {
  transition: transform .5s ease-in;
  transform: scale(.8);
}
.gt-fix1 {
  transition-property: top, left, transform, filter;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  transform: scale(.8);
  position: fixed;
  z-index: 110;
}
.gt-fix2 {
  transition-property: top, left, width, height, transform, filter;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  filter: opacity(0);
  transform-origin: 0 0;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}
.gt-fix2-inside {
  transition-property: margin-left, margin-top;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.gt-tool {
  width: 30px;
  height: 30px;
  padding: 3px;
  margin: 2px;
  cursor: pointer;
}

.gt-tool-group {
  width: 40px;
  height: 40px;
}
.gt-tool-group:after {
  content: "";
  display: block;
  margin: -9px 31px;
  width: 5px;
  height: 5px;
  -webkit-mask-image: url('data:image/svg+xml;utf8,%3C?xml%20version=%221.0%22%20encoding=%22UTF-8%22%20standalone=%22no%22?%3E%3Csvg%20style=%22stroke-linecap:round%22%20xmlns=%22http://www.w3.org/2000/svg%22%20version=%221.1%22%20viewBox=%220%200%205%205%22%3E%3Cpath%20stroke=%22black%22%20stroke-width=%221.5%22%20d=%22M4.0155+1.00558C4.0155+2.64586+2.68579+3.97558+1.0455+3.97558L1.0155+3.97558%22%20fill=%22none%22%20stroke-linecap=%22round%22%20opacity=%221%22%20stroke-linejoin=%22round%22/%3E%3C/svg%3E');
  background-color: var(--halfR);
}

.gt-tool-grouppop {
  box-sizing: border-box;
  padding: 2px;
  border-radius: 10px;
  background: var(--secC);
}
.gt-tool-grouppop .gt-tool {
  border-radius: 10px;
  transition: background-color .3s;
  margin-bottom: 4px;
}
.gt-tool-grouppop .gt-tool:hover {
  background-color: var(--priC);
}

.gt-tool-rev {
  background-color: var(--ccc);
}
.gt-tool-rev > .gt-icon {
  background-color: var(--priC);
}

.gt-toolbar-view {
  height: 40px;
  position: absolute;
  overflow: hidden;
  transition-property: filter, margin-left, width, background-color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.gt-toolbar-hover {
  position: absolute;
  border-radius: 10px;
  background-color: var(--fullR);
  filter: opacity(0);
  height: 36px;
  width: 36px;
  margin-top: 2px;
  transition-property: filter, margin-left, width;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.gt-toolbar {
  position: absolute;
  border-radius: 10px;
  height: 40px;
  background-color: var(--priB);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  transition: width .2s;
}
.gt-toolbar-view > div {
  display: inline-block;
}
.gt-toolbar-out {
  height: 40px;
  margin: 0 5px;
  display: inline-block;
}
