/* 黑白主色 */
.gtc-dark {
  --bgC: #111 !important;
  --priC: #333;
  --secC: #444;
  --priB: #333A;
  --secB: #444A;
  --fullR: #DDD;
  --halfR: #AAA;
  --green: #0C3;
  --blue: #08F;
  --orange: #F90;
  --red: #D00;
  --brown: #720;
  --hover: 1.3;
}
.gtc-light {
  --bgC: #FAFAFA !important;
  --priC: #EEE;
  --secC: #DDD;
  --priB: #EEEA;
  --secB: #DDDA;
  --fullR: #333;
  --halfR: #666;
  --green: #3B0;
  --blue: #27F;
  --orange: #F83;
  --red: #F22;
  --brown: #910;
  --hover: .9;
}
.gtc-dark *::selection {
  background-color: #38F;
  color: #EEE;
}
/* 彩色主色 */
.gtc-primary,
.gtc-blue,
.gtc-danger,
.gtc-red,
.gtc-ok,
.gtc-green,
.gtc-brown {
  --fgC: #EEE !important;
}
/* TODO: 为每一个颜色设计主要与次要颜色 */
.gtc-blue,
.gtc-primary {
  --bgC: var(--blue) !important;
}
.gtc-red,
.gtc-danger {
  --bgC: var(--red) !important;
}
.gtc-green,
.gtc-ok {
  --bgC: var(--green) !important;
  --fgC: #222 !important;
}
.gtc-brown {
  --bgC: var(--brown) !important;
}
.gtc-orange,
.gtc-warning {
  --fgC: #222 !important;
  --bgC: var(--orange) !important;
}

.gt-icon {
  background-color: var(--cc);
}
.gt-icon-group > .gt-icon {
  position: absolute;
}
.gt-icon, .gt-icon-group {
  transition: filter .3s;
}

.gt-rev {
  background-color: var(--ccc);
}
.gt-rev .gt-icon {
  background-color: var(--priC);
}

/* pop组件的动画部分 */
.gt-pop-accmlt {
  transition: transform .5s ease-in;
  transform: scale(.8);
}
.gt-fix1 {
  transition-property: top, left, transform, filter;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  transform: scale(.8);
  position: fixed;
  z-index: 110;
}
.gt-fix2 {
  transition-property: top, left, width, height, transform, filter;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  filter: opacity(0);
  transform-origin: 0 0;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}
.gt-fix2-inside {
  transition-property: margin-left, margin-top;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.gt-relative-position {
  position: relative;
}
.gt-relative-position > div {
  position: absolute !important;
}
