.gt-dark {
  --bgC: #111;
  --priC: #333;
  --secC: #444;
  --priB: #333A;
  --secB: #444A;
  --fullR: #EEE;
  --halfR: #AAA;
  --green: #5A0;
  --blue: #06B;
  --orange: #C70;
  --red: #D00;
  --brown: #720;
}
.gt-light {
  --bgC: #EEE;
  --priC: #DDD;
  --secC: #CCC;
  --priB: #DDDA;
  --secB: #CCCA;
  --fullR: #111;
  --halfR: #555;
  --green: #3C0;
  --blue: #19F;
  --orange: #F70;
  --red: #F22;
  --brown: #910;
}

.gt-icon {
  background-color: var(--cc);
}
.gt-icon-group > .gt-icon {
  position: absolute;
}
.gt-icon, .gt-icon-group {
  transition: filter .3s;
}