.gt-tool-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.gt-tool-group {
  width: 40px;
  height: 40px;
}
.gt-tool-group:after {
  content: "";
  display: block;
  border: 2px solid;
  width: 3px;
  height: 3px;
  border-color: transparent var(--fullR) var(--fullR) transparent;
  border-bottom-right-radius: 10px;
  margin: -9px 31px;
}


.gt-tool-rev, .gt-tool-title {
  background-color: var(--ccc);
}
.gt-tool-rev .gt-icon, .gt-tool-title .gt-icon {
  --cc: var(--fullR);
}
.gt-tool-title {
  position: absolute;

}
.gt-tool-title {
  zoom: 0;
}

.gt-toolbar-view {
  height: 40px;
  transition: filter .3s, margin-left .3s;
}
.gt-toolbar-hover {
  position: absolute;
  border-radius: 10px;
  background-color: var(--fullR);
  filter: opacity(0);
  height: 36px;
  width: 36px;
  margin-top: 2px;
  transition-property: filter, margin-left, width;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

.gt-toolbar {
  border-radius: 10px;
  height: 40px;
  background-color: var(--priB);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  display: inline-block;
  transition: width .2s;
}
.gt-toolbar-view > div {
  display: inline-block;
}
.gt-toolbar-out {
  height: 40px;
  margin: 0 5px;
}